
/* CoveoV2CommunitySearchBox */

.CoveoV2CommunitySearchBox .coveo-first-loading-animation {
	display:none
}
.CoveoV2CommunitySearchBox .forcePlaceholder {
	display:none
}
.CoveoV2CommunitySearchBox.CoveoSearchInterface {
	display:block;
	z-index:1
}
.CoveoV2CommunitySearchBox .CoveoSearchInterface>* {
	display:block;
	visibility:visible
}
.CoveoV2CommunitySearchBox input[type=text]:disabled {
	background:whitesmoke
}
.CoveoV2CommunitySearchBox .CoveoSearchButton {
	height:48px;
	float:right;
	background-color:white;
	border-right:none;
	border-bottom:none;
	border-top:none;
	border-left:1px solid #9e9e9e
}
.CoveoV2CommunitySearchBox .magic-box.magic-box-inline {
	overflow:visible
}
.CoveoV2CommunitySearchBox .magic-box {
	position:relative;
	text-align:left;
	color:#212121;
	border:1px solid #9e9e9e
}
.CoveoV2CommunitySearchBox .magic-box-input {
	background:#fff;
	height:48px;
	overflow:hidden;
	position:relative
}
.CoveoV2CommunitySearchBox .magic-box-input>input {
	color:#212121;
	text-align:left;
	padding:12px 0;
	text-indent:12px;
	font-family:arial,sans-serif;
	font-size:16px;
	line-height:24px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:48px;
	white-space:pre;
	overflow:auto;
	box-sizing:border-box;
	display:block;
	border:none
}
.CoveoV2CommunitySearchBox .magic-box-input>input::-moz-selection {
	background:#3390ff
}
.CoveoV2CommunitySearchBox .magic-box-input>input::selection {
	background:#3390ff
}
.CoveoV2CommunitySearchBox .magic-box-input>input::-moz-selection:window-inactive {
	background:#c2c3c4
}
.CoveoV2CommunitySearchBox .magic-box-input>input::selection:window-inactive {
	background:#c2c3c4
}
.CoveoV2CommunitySearchBox .magic-box .magic-box-clear .magic-box-icon:before {
	content:""
}
.CoveoV2CommunitySearchBox .magic-box .magic-box-clear:before {
	border-left-style:none
}
.CoveoV2CommunitySearchBox .magic-box .magic-box-icon {
	height:100%
}
.CoveoV2CommunitySearchBox .magic-box .magic-box-clear .magic-box-icon .magic-box-clear-svg {
	display:block;
	margin:16.5px;
	width:15px;
	height:15px;
	color:#1d4f76
}
.CoveoV2CommunitySearchBox#error {
	color:red;
	background:yellow;
	padding:2px;
	text-align:center;
	margin-top:5px;
	display:none
}
.CoveoV2CommunitySearchBox #errorTitle {
	font-weight:bold
} 